.header {
  nav {
    padding: 24px;
  }

  &__logo {
    img {
    }
  }
  &__menu {
    // Mobile Menu

    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;
      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }
  &__links {
    font-size: $font-med;
    a {
      font-size: $font-small;
      color: $grayishBlue;
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
  &__cta {
    font-size: $font-small;
    color: white;
  }
}

// visibility
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
